body {
    background-color: rgb(33, 33, 92);
    margin: 0;
}

h1 {
    background-color: var(--dorado);
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.nav-inicio {
    margin: 10px;
    position: relative;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* hamburguesa */
.menu-hamburguesa {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-hamburguesa span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: rgb(5, 5, 5);
    border-radius: 5px;
}

.nav-inicio {
    display: none;
    margin: 10px;
    background-color: #b89b5c;
    border-radius: 5px;
}

.nav-inicio.active {
    display: block;
}

.listanav {
    list-style-type: none;
    padding: 0;
}

.linknav {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

h3 {
    background-color: var(--dorado);
    margin: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.producto-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.footer-inicio {
    opacity: 0.2;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.producto-card {
    background-color: var(--dorado);
    color: white;
    padding: 10px;
    font-size: 18px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.producto-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.producto-card .cantidad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.producto-card .cantidad button {
    background-color: var(--dorado);
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.producto-card .cantidad button:hover {
    background-color: darkgoldenrod;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    color: white;
}

.carrito-item button {
    background-color: var(--dorado);
    border: none;
    color: white;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.carrito-item button:hover {
    background-color:#b89b5c;
}
.total-precio {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    background-color: #b89b5c;
}
:root {
    --dorado: #b89b5c;
}
